name: Deploy

concurrency:
  group: ${{ github.ref }}

on:
  workflow_run:
    branches: [master]
    workflows: [Test]
    types: [completed]


jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
        - run: |
            echo "Deploying!"
            echo ${{ github.event.workflow_run.conclusion }}
            sleep 200

  after:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - run: echo "foo"
