name: Draft release

on:
  push:
    tags:
      - '*'

jobs:
  create-draft-release:
    name: Create draft release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
#      - run: |
#          git fetch --prune --unshallow
      - shell: bash
        id: changelog
        run: |
          changelog=$(git log)
          echo $changelog
          changelog="${changelog//'%'/'%25'}"
          changelog="${changelog//$'\n'/'%0A'}"
          changelog="${changelog//$'\r'/'%0D'}"
          echo "::set-output name=changelog::$changelog"
      - name: Create draft release
        id: create_draft_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.changelog.outputs.changelog }}
          draft: true
          prerelease: false

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: integration_tests
          SLACK_ICON_EMOJI: ':ship:'
          SLACK_MESSAGE: ${{ steps.changelog.outputs.changelog }}
          SLACK_TITLE: New Production release incoming!
          SLACK_USERNAME: release-bot


