name: Draft release

on:
  push:
    tags:
      - 'production*'

jobs:
  create-draft-release:
    name: Create draft release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Fetch git history
        run: |
          git fetch --prune --unshallow
      - name: Parse tags
        shell: bash
        id: tags
        run: |
          current_tag=$(git tag --sort=-creatordate -l "production*" | head -1)
          previous_tag=$(git tag --sort=-creatordate -l "production*" | head -2 | awk '{split($0, tags, "\n")} END {print tags[1]}')
          echo "::set-output name=current_tag::$current_tag"
          echo "::set-output name=previous_tag::$previous_tag"
      - name: Check changes in foo
        shell: bash
        id: foo
        run: |
          changes_in_foo=$(git diff ${{ steps.tags.outputs.previous_tag }}...${{ steps.tags.outputs.current_tag }} --exit-code foo)
          echo "CHANGES: $changes_in_foo"
          echo "::set-output name=changes_in_foo::$changes_in_foo"
      - name: Create changelog
        shell: bash
        id: changelog
        run: |
          changelog=$(git shortlog --first-parent --pretty=format:"- %s: %b (%cr)%d" ${{ steps.tags.outputs.current_tag }}...${{ steps.tags.outputs.previous_tag }} | sed -E "s/Merge pull request | from [^:]+//g")
          compare="https://github.com/${{ github.repository }}/compare/${{ steps.tags.outputs.previous_tag }}...${{ steps.tags.outputs.current_tag }}"
          changelog="sha: ${{ github.sha }}"$'\n\n'"full diff:${compare}"$'\n\n'"${changelog}"
          changelog="${changelog//'%'/'%25'}"
          changelog="${changelog//$'\n'/'%0A'}"
          changelog="${changelog//$'\r'/'%0D'}"
          echo "::set-output name=changelog::$changelog"
      - name: Create draft release
        id: draft_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.changelog.outputs.changelog }}
          draft: true
          prerelease: false
      - name: Send slack notification
        uses: rtCamp/action-slack-notify@v2.1.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: integration_tests
          SLACK_ICON_EMOJI: ':ship:'
          MSG_MINIMAL: true
          SLACK_FOOTER:
          SLACK_MESSAGE: |
            <${{ steps.draft_release.outputs.html_url }}|Draft release>

            ${{ steps.changelog.outputs.changelog }}
          SLACK_TITLE: New Production release (${{ steps.tags.outputs.current_tag }}) incoming !
          SLACK_USERNAME: release-bot
