name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Check deployability
        shell: bash
        run: |
          if ! [[ $(git ls-remote --tags | grep "$GITHUB_SHA" | grep production-deployable) ]]; then
            echo "OOPS"
            exit 1
          fi
