name: Tag Debug

on:
  workflow_dispatch:


jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: 6818cf3af942dd3ec46451b89e844481e88589d3
      - name: tag
        env:
          TAG: jerry-debug-tag-${{ github.run_number }}-${{ github.run_attempt }}
        run: git tag "$TAG" && git push origin "$TAG"