name: Test

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: |
          apt-get update -y
          apt-get install -y python-openssl
      - run: |
          python --version
          python -m pip install requests
      - run: echo "foo" >> dummy
      - uses: EndBug/add-and-commit@v7
          with:
            add: 'dummy'
            message: 'Foo commit'
      - run: |
          git tag foo1
          git push origin foo1
