name: Test

on:
  push:
    branches:
      - '*'
  workflow_dispatch:
    inputs:
      do-it:
        description: 'shall we do it'
        required: false
        type: boolean
        default: false
      skip-test:
        description: 'skip tests'
        required: false
        type: boolean
        default: false

jobs:
  test:
    runs-on: ubuntu-latest
    if: inputs.skip-tests != true
    strategy:
      fail-fast: false
      matrix:
        k: [ flaky1, flaky2]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pytest
      - run: pytest -k ${{ matrix.k }}

  after:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: echo woop woop

  tag:
    runs-on: ubuntu-latest
    if: inputs.do-it || github.ref == 'refs/heads/master'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - run: echo ${{ inputs.do-it }}
      - name: tag
        env:
          TAG: gha-ci-${{ github.run_number }}-${{ github.run_attempt }}
        run: git tag "$TAG" && git push origin "$TAG"


