name: Test


on:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        k: [ flaky1, flaky2]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install pytest
      - run: pytest -k ${{ matrix.k }}

  after:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: echo woop woop

  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: tag
        env:
          TAG: gha-ci-${{ github.run_number }}-${{ github.run_attempt }}
        run: git tag "$TAG" && git push origin "$TAG"


