name: Test

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:latest
    steps:
      - name: foo
        id: foo
        run: echo ::set-output name=foo::foo
      - name: Substitution test
        shell: bash
        run: |
          body=$(echo ${{ steps.foo.outputs.foo }})
          echo body = $body
          body="${body//'%'/'%25'}"
          echo body = $body
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}"
          echo ::set-output name=body::$body
#      - run: |
#          apt-get update -y
#          apt-get install -y python-openssl git
#      - uses: actions/checkout@v2
#      - uses: actions/setup-python@v2
#        with:
#          python-version: '3.8'
#      - uses: ./.github/actions/python-poetry-env
#      - run: |
#          python --version
#          python -m pip install requests
#      - run: echo "foo" >> dummy
#      - uses: EndBug/add-and-commit@v7
#        with:
#          add: 'dummy'
#          message: 'Foo commit'
#      - run: |
#          git tag foo1
#          git push origin foo1
#      - uses: peter-evans/create-pull-request@v3
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
#          commit-message: >-
#            Foo commit
#          title: "Dummy title"
#          body: "Dummy body"
#          branch: my-branch
#          delete-branch: true
